@font-face {
    font-family: 'TT Lakes';
    src: url("fonts/TTLakes-Medium.woff") format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url("fonts/TTLakes-Regular.woff") format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url("fonts/TTLakes-Bold.woff") format('woff');
    font-weight: 900;
    font-style: normal;
}

.aside-html {
    height: 100%;
}

.menu-body{
    font-family: 'TT Lakes', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    position: fixed;
    width: 320px;
}

.container {
    max-width: 320px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 2px 30px -5px rgba(34, 60, 80, 0.56);
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.btn--lang:active {
    color: #7E7E82;
}

.btn--lang:focus {
    color: #7E7E82;
}

.btn {
    background-color: #FF3E79;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;


    outline: 1px solid transparent;
    outline-offset: 4px;
    transition: transform .5s, outline-color .5s;

}

.btn:focus-visible {
    outline-color: #FF3E79;
}

.btn:hover {
    transform: scale(1.03);
}

.btn:active {
    transform: scale(0.97);
}

.flash-btn {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 0px 0px rgba(255, 62, 121, .4);
}

.flash-btn:after {
    content: "";
    background-color: white;
    opacity: .02;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    border-radius: 50%;
    transform: scale(0);
    pointer-events: none;
    transition: transform .7s, opacity .3s;
}

.flash-btn:hover::after {
    transform: scale(5);
    opacity: .14;
}

.flash-btn:active {
    transition: transform .3s, outline-color .3s, box-shadow .3s;
    box-shadow: 0px 0px 0px 10px rgba(255, 62, 121, 0);
}

.link {
    text-decoration: none;
}

.link:hover {
    color:#7E7E82;
}

.link:active {
    color:#d3d3d3;
}


/* header  */

.btn--close {
    background-image: url("../img/true/close.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
}

.menu-header__logo {
    background-image: url("../img/true/logo.svg");
    background-size: 97px 51px;
    width: 100px;
    height: 55px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.btn--search{
    background-image: url("../img/true/search.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
}

.menu-header {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-header__list {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    align-items: center;
    gap: 16px;
}

/* main  */

.menu-main {
    flex: 1 1 auto;
}

.nav--mrgl {
    margin-left: 24px;
}

.nav__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.nav__link--active {
    color: #7E7E82;
}

.highlight {
    margin-left: -24px;
    background-color: #41F6D7;
    border-radius: 0px 10px 10px 0px;
    white-space: nowrap;
    width: 4px;
    height: 24px;
}

.nav__item {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav__link {
    margin: 0;
    line-height: 24px;
    color: #1B1C21;
    font-family: "TT Lakes";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-decoration: none;
}




.menu-footer {
    padding: 24px;
}

.icons--mrgb{
    margin-bottom: 16px;
}

.btn--call {
    background-image: url("../img/true/call.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
}

.btn--chat {
    background-image: url("../img/true/chat.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
}

.btn--profile {
    background-image: url("../img/true/profile.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
}

.icons__list {
    display: flex;
    gap: 16px;
}

.contact__link {
    margin-bottom: 16px;
}

.contact__email {
    line-height: 24px;
    color: #1B1C21;
    font-family: "TT Lakes";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.contact__number {
    line-height: 32px;
    color: #1B1C21;
    font-family: "TT Lakes";
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: -0.6px;
}

.lang__list {
    display: flex;
    gap: 5px;
}

.lang__btn {
    border: none;
    cursor: pointer;
    background-color: #fff;
    padding: 0;

    line-height: 24px;
    color: #1B1C21;
    font-family: "TT Lakes";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.2px;

}


.lang__btn:hover {
    color: #7E7E82;
}

.lang__btn--active {
    color: #7E7E82;
}

/* media  */

@media (max-height: 730px) {
    .nav__list {
        gap: 20px;
    }
}

@media (max-height: 609px) {
    .nav__list {
        gap: 5px;
    }
}